<!doctype html>
<html>
    <head>
        <%- include('head'); -%>
    </head>
    <body>
        <div class="container-fluid p-0">
            <%- include('header'); -%>
            <main class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 m-1">
                <% projects.sort(function(a,b){ %>
                <%   return a.updatedAt > b.updatedAt %>
                <% }).forEach(function(project){ %>
                    <%- include('projectCard', project); %>
                <% }); %>
            </main>
        </div>
    </body>
</html> 